/node_modules
/public/hot
/public/storage
/docker/mysql
/docker/redis
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*error_log*